.footer {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.vertical-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-stack svg {
  width: 33px;
  height: 28px;
  fill: #ff6a00 !important;
}
.vertical-stack a {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vertical-stack .badge {
  background-color: white !important;
  color: black;
  font-size: 70% !important;
  top: -16px !important;
}

@media (max-width: 576px) {
  .address-footer label {
    width: 100% !important;
  }
}
