.change-location-btn {
  position: absolute !important;
  left: -100px;
  top: 140px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: transform 0.5s ease 0s !important;
}

.showBtn {
  transform: translateY(-45px);
}

.hideBtn {
  transform: translateY(45px);
}

.map-confirm-btn {
  border-radius: 25rem 0 0 25rem !important;
  background-color: #ff6a00 !important;
}
.map-search input {
  border-radius: 0 25rem 25rem 0 !important;
}
.map-search {
  margin-bottom: 12px;
}
